img{
    float: left;
    
}

div{
    clear: both;
    border: 1px solid #acacaa;
    max-width: 300px;
    height: 45px;    
}

.div-calendario{
    background-color: rgb(44, 6, 133);
}
.div-buscar{
    background-color: blueviolet;
}
.div-salvar{
    background-color:rgb(10, 10, 10)
}


span {
    padding-top: 10px;
    padding-left: 5px;
    display: inline-block;
}


a{
    text-decoration: none;
    color: rgb(247, 244, 241);
    font-size: 20px;
    font-weight: bold;
}
.pagina-inicial{
    color: blueviolet;
}

a:hover{
    color:red;
    transition:all 1s;
}